{% extends 'meetups/layouts/main-layout.html' %}
{% load static %}
    {% block title %}  Meet-ups !!! {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static '/meetups/styles/all-meetups.css' %}">
    {% endblock %}
</head>

<body>
    <!-- <h1> Meet Ups !!! </h1>
    {% if show_meetups %}
    {% for item in meetups %}
    <h4>{{ item.title }}</h4>
    {% endfor %}
    {% else %}
    <h4> No meetups </h4>
    {% endif %} -->
    <header class="meetups-header">
        <nav><a href="/meetups">Django Meetups</a></nav>
        <h1>Meetups with details</h1>
        <p>list of django meetups displays here</p>
    </header>
    <main>
        {% block main_content %} 
        <section>
        <h2>Upcoming Meetups</h2>
        <ol>
            {% for item in meetups %}
                {% include 'meetups/includes/meetup-item.html' with title=item.title image=item.image.url description=item.description location=item.location.name slug=item.slug %}
            {% endfor %}
        </ol>
    </section>
    {% endblock %}
    </main>
</body>

</html>